*
!*/
!**/.gitignore
!**/*.py
!**/*.json
!**/*.java
!**/*.patch
!**/*.txt
!**/*.dat
!**/*.html
!**/*.yaml
!**/*.js
!**/*.png
!bootstrap/**
!css/**
!dropzone/**
!jquery/**
!jquery-ui/**
!jquery-ui-map/**
!lightbox2/**
!Flat-ui/**
!images/**
!jQRangeSlider/**
!toastr/**

