{% extends "/templates/base.html" %}

{% block content %}
<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% if search == 'on' %}
                Search
            {% else %}
                View All Streams
            {% endif %}
        </div>

        <div class="panel-body">
            <div>
                {% if search == 'on' and keyword == '' %}
                    <div>
                        Please enter a keyword.
                    </div>
                {% elif search == 'on'%}
                    <div>{{ streams | length }} results found for <strong> {{ keyword }} </strong>.</div>
                {% endif %}

                <ul class="nav navbar-nav">
                    {% for stream in streams %}
                    <li><a href="/stream?stream_name={{ stream.name }}&view=true"><img src=
                        {% if stream.cover_url %}
                            "{{ stream.cover_url }}"
                        {% else %}
                            "/static_images/noCoverPhoto.png"
                        {% endif %}
                             width="200" height="200" class="rounded"></img></a>
                    <div style="text-align: center;"> {{ stream.name }} </div></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>





{% endblock %}
