<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
	<title>Connexus</title>
  </head>
  <body>
	{% block header %}
	<h1><a href="/">Connex.us</a></h1>
	<ul style="list-style: none;">
		<li><a href="/manage">Manage</a></li>
		<li><a href="/create">Create</a></li>
		<li><a href="/view_all">View</a></li>
		<li><a href="/search">Search</a></li>
		<li><a href="/trending">Trending</a></li>
		<li><a href="">Social</a></li>
		{% if logged_in == true %}
		<li><a href="{{ url|safe }}">{{ url_linktext }}</a></li>
		{% endif %}
	</ul>
	{% endblock %}
	
	{% block content %}
	{% endblock %}
  </body>
</html>
{% endautoescape %}
