{% extends "/templates/base.html" %}

{% block google_api %}
<!-- Google map -->
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="./jquery-ui-map/ui/jquery.ui.map.js"></script>
<script type="text/javascript" src="./jquery-ui-map/demos/js/demo.js"></script>
<script type="text/javascript" src="./jquery-ui-map/demos/js/markerclustererplus-2.0.6/markerclusterer.min.js"></script>
{% endblock %}

{% block content %}
<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>
                <strong>Connexus Extension</strong>
            </span>
            <span> Add pictures to a stream with a click.</span>
        </div>

        <div class="panel-body">
            <div class="col-md-12">
                <form action="\upload?" method="post" name="upload_form"  onsubmit="return validateForm()">
                <div class="row">
                    
                    <img src="{{ img_url }}">
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" placeholder="Stream to add to" id="chrome_query" name="chrome_upload_stream_name" class="form-control ui-autocomplete-input" autocomplete="off">
                    </div>
                </div>

                <div class="row">
                    <div id="map_canvas" class="map rounded"></div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <input type="text" name="latitude" id="latitude" placeholder="Latidude" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="longitude" id="longitude" placeholder="Longitude" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <input type="hidden" name="img_url" value="{{ img_url }}">
                    <button type="submit" class="btn btn-md btn-primary">Submit</button>
                </div>
                </form> 
            </div>
        </div>
    </div>
</div>

<script>

function validateForm() {
    var x = document.forms["upload_form"]["chrome_upload_stream_name"].value;
    if (x == null || x == "") {
        toastr.error("Stream name must be filled out");
        return false;
    }
    else {
        toastr.success("Image Uploaded!");
        return true;
    }
}


  $(document).ready(function() {
    var cache = {};
    $("#chrome_query").autocomplete({
        minLength : 1,
        source : function(request, response) {
            var term = request.term;
            if (term.trim() == '')
                return;
            if ( term in cache ) {
                response( cache[ term ] );
                return;
            }

            $(function () {
                $.getJSON( "/search_request?", request, function( data ) {
                    cache[ term ] = data;
                    response($.map( data.stream_names, function(value, key) {
                        return {
                            label : value,
                            value : key
                        };
                    }));
                });
            });
        }
    });
  });

    var $map = $('#map_canvas');
    var my_map;

    $map.gmap({'zoom': 2, 'disableDefaultUI':true}).bind('init', function(evt, map) {
        my_map = map;
    });  

    $('#map_canvas').gmap().bind('init', function(event, map) { 
    $(map).click( function(event) {
        $('#map_canvas').gmap('addMarker', {
            'position': event.latLng, 
            'draggable': true, 
            'bounds': false
        }, function(map, marker) {
            //do whatever you need with the maker utilizing this variable
            marker.__gm_id
            $("#latitude").val(marker.position.lat);
            $("#longitude").val(marker.position.lng);
        });
    });
});

</script>
{% endblock %}
