{% extends "/templates/base.html" %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-md-8">
            <strong> {{ stream.name }} </strong> 
            by
            <i style="font-size: medium;">{{ stream.user.email() }}</i>
        </div>
        
        <div class="col-md-4 text-right">
            <form action="/stream?">
                <button type="submit" class="btn btn-md btn-primary">Back to stream view</button>
                <input type="hidden" name="stream_id" value="{{ stream.key.urlsafe() }}" />
            </form>
        </div>
        <div id="intelligent_gap"></div>            
    </div>
    <div class="panel-body">
        <div id="map_canvas" class="map rounded"></div>
        <p>
            <label for="geoDateRateDisplay">Date range:</label>
            <span id="geoDateRateDisplay"></span>
        </p>
        <div id="slider"></div>
    </div>
</div>

<script type="text/javascript">

    var query_begin_date = null;
    var query_end_date = null;
    var timer = null;

    var $map = $('#map_canvas');
    var my_map;
    var marker_cluster;

    $map.gmap({'zoom': 2, 'disableDefaultUI':true}).bind('init', function(evt, map) {
        my_map = map;
        var $ajax = $.getJSON('/get_image_location', {
                        stream_id: '{{ stream.key.urlsafe() }}',
                        start: query_begin_date.toISOString(),
                        end: query_end_date.toISOString()
                    },

                    function(data) {
                        $.each( data.image_location, function(index, element) {
                            $map.gmap('addMarker', {
                                'position': new google.maps.LatLng(element.lat, element.lng)
                            });
                        });
                    });

        $ajax.done(function() {
            marker_cluster = new MarkerClusterer(map, $map.gmap('get', 'markers'));
            $map.gmap('set', 'MarkerClusterer', marker_cluster);
        });
    });    

    function load_geo_data(my_map) {
        var $ajax = $.getJSON('/get_image_location', {
                        stream_id: '{{ stream.key.urlsafe() }}',
                        start: query_begin_date.toISOString(),
                        end: query_end_date.toISOString()
                    },

                    function(data) {
                        $.each( data.image_location, function(index, element) {
                            $map.gmap('addMarker', {
                                'position': new google.maps.LatLng(element.lat, element.lng)
                            });
                        });
                    });

        $ajax.done(function() {
            marker_cluster = new MarkerClusterer(my_map, $map.gmap('get', 'markers'))
            $map.gmap('set', 'MarkerClusterer', marker_cluster);
        });
    }

    function set_query_date_range(begin, end) {
        query_begin_date = begin;
        query_end_date = end;
    }

    function handler() {
        clear_timer();
        marker_cluster.clearMarkers();
        $map.gmap('clear', 'markers');
        load_geo_data(my_map);
    }

    function restart_timer() {
        clear_timer();
        timer = window.setTimeout(handler, 1000);
    }

    function clear_timer() {
        if (timer) {
            window.clearTimeout(timer);
        }
        timer = null;
    }

    function formatDate(date) {
        return $.datepicker.formatDate('MM dd, yy', date);
    }

    function setRangeLabels(low, high) {
        var prev_year = new Date(); // Today
        prev_year.setYear(prev_year.getFullYear() - 1);

        var lowDate = new Date(prev_year);
        lowDate.setDate(prev_year.getDate() + low);

        var highDate = new Date(prev_year);
        highDate.setDate(prev_year.getDate() + high);

        var label = formatDate(lowDate) + " to " + formatDate(highDate);
        set_query_date_range(lowDate, highDate);        

        $("#geoDateRateDisplay").html(label);
    }

    $("#slider").slider({
        range: true,
        min: 0,
        max: 365,
        values: [0, 365],
        slide: function (event, ui) {
            setRangeLabels(ui.values[0], ui.values[1]);
            restart_timer();
        }
    });

    setRangeLabels(
        $("#slider").slider("values", 0),
        $("#slider").slider("values", 1)
    );
</script>

{% endblock %}
