{% extends "/templates/base.html" %}

{% block content %}
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">Streams I own</div>

		<div class="panel-body">			
			<div class="col-md-12">
				<table class="table table-condensed" id="manage_table">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Last New Picture</th>
							<th>Number of Pictures</th>
							<th>Views</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						{% for stream in streams %}
						
						<tr class="my_streams" id="tablerow{{ stream.key.urlsafe() }}">
							<td id"index{{ stream.name }}">{{ loop.index }}</td>
							<td><a href="/stream?stream_id={{ stream.key.urlsafe() }}&view=true">{{ stream.name }}</a></td>
							<td>{{ stream.last_update_time.strftime("%Y/%m/%d %I:%M %p") }}</td>
							<td>{{ stream.num_picture }}</td>
							<td>{{ stream.view_count }}</td>
							<td>
								<label class="checkbox" for="stream_checkbox{{ loop.index }}">
						            <input type="checkbox" name="{{ stream.key.urlsafe() }}" id="stream_checkbox{{ loop.index }}" data-toggle="checkbox">	  
						        </label>									
							</td>
							<script>
								$('#stream_checkbox{{ loop.index }}').radiocheck();
							</script>

						<tr>
						
						{% endfor%}
					</tbody>
				</table>
				<form role="form" action="deleteStream" method="post">
					<input type="hidden" id="stream_names" name="stream_names">
					<button type="submit" id="remove_stream" class="btn btn-md btn-primary">Delete Checked</button>
				</form>
			</div>			
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	var $manage_table = $('#manage_table');
	var $subscribe_table = $('#subscribe_table');

	$("#unsubscribe").on('click', function(e) {
		e.preventDefault();
		var my_subscribes_checked = [];
        $(".my_subscribes .checkbox input:checked").each(
            function() {	            		            	
               	my_subscribes_checked.push($(this).attr('name'));		               	
            }
        );

        if(my_subscribes_checked.length < 1) {
        	toastr.error('No subscription is selected.')
        }
        else {
        	var res = "stream_id=";
	        var i = 0;	 
	        for (i = 0; i < my_subscribes_checked.length; i++) {
	            res += encodeURIComponent(my_subscribes_checked[i]);
	            if (i < my_subscribes_checked.length - 1) {
	                res += "&stream_id="
	            }
	        }     

	        $.ajax({
	            type: 'POST',
	            url: 'unsubscribe',
	            data: res,
	            success: function(msg) {
	            	console.log(msg)
	                if (msg === 'Success') {
	                	toastr.success('Successfully unsubscribed!');
	                    for (i = 0; i < my_subscribes_checked.length; i++) {
	                    	console.log("remove sub");
	                    	console.log("unsub_tablerow" + my_subscribes_checked[i]);	                   	
	                    	$('#unsub_tablerow'+ my_subscribes_checked[i]).remove();
	                    }
	                }          
	            }
	        });
        };
        
	});

	$("#remove_stream").on('click', function(e) {			
        e.preventDefault();
        var my_streams_checked = [];

        $(".my_streams .checkbox input:checked").each(
            function() {	            		            	
               	my_streams_checked.push($(this).attr('name'));
            }
        );
        if(my_streams_checked.length < 1) {
        	toastr.error("No stream selected.")
        }
        else {
        	var res = "stream_id=";
	        var i = 0;	      
	        for (i = 0; i < my_streams_checked.length; i++) {
	            res += encodeURIComponent(my_streams_checked[i]);
	            if (i < my_streams_checked.length-1) {
	                res += "&stream_id="
	            }
	        }      	
	       
	        $.ajax({
	            type: 'POST',
	            url: 'deleteStream',
	            data: res,
	            success: function(msg) {
	                if (msg === 'Success') {
        				toastr.success("Stream deleted.");
	                    for (i = 0; i < my_streams_checked.length; i++) {	  

	                    	$('#tablerow'+ my_streams_checked[i]).remove();
	                    }

	                }	               
	            }
	        });
        }
        

    });
});
</script>

<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">Streams I subscribed to</div>

		<div class="panel-body">
			<div class="row">
				
					<div class="col-md-12">
						<table class="table table-condensed" id="subscribe_table">
				            <thead>
				              <tr>
				                <th>#</th>
				                <th>Name</th>
				                <th>Last New Picture</th>
				                <th>Number of Pictures</th>
				                <th>Views</th>
				                <th>Unsubscribe</th>
				              </tr>
				            </thead>

				            <tbody>
				            	{% for subscription in subscribed %}	
								<tr class="my_subscribes" id="unsub_tablerow{{ subscription.stream.urlsafe() }}">
									<td>{{ loop.index }}</td>
									<td><a href="/stream?stream_id={{ subscription.stream.urlsafe() }}&view=true">{{ subscription.stream.get().name }}</a></td>
									<td>{{ subscription.stream.get().last_update_time.strftime("%Y-%m-%d %I:%M:%S %p")}}</td>
									<td>{{ subscription.stream.get().num_picture }}</td>
									<td>{{ subscription.stream.get().view_count }}</td>
									<td>
									<label class="checkbox" for="subscribe_checkbox{{ loop.index }}">
							            <input type="checkbox" name="{{ subscription.stream.urlsafe() }}" id="subscribe_checkbox{{ loop.index }}" data-toggle="checkbox">	  
							        </label>
									</td>
									<script>
										$('#subscribe_checkbox{{ loop.index }}').radiocheck();
									</script>
								<tr>
								{% endfor %}
				            </tbody>
				          </table>
				          <form action="/unsubscribe" method="post">
				          	<button type="submit" class="btn btn-md btn-primary" id="unsubscribe">Unsubscribe Checked Streams</button>
				          </form>
				    </div>				
			</div>
		</div>
	</div>
</div>



{% endblock %}
