{% extends "/templates/base.html" %}

{% block content %}
<h2>Streams I own</h2>
<form action="/deleteStream" method="post">
	<table>		
		<tr>
			<th>Name</th>
			<th>Last New Picture</th>
			<th>Number of Pictures</th>
			<th>Views</th>
			<th>Delete</th>
		<tr>
		{% for stream in streams %}
		<tr>
			<td><a href="/stream?stream_id={{ stream.key.urlsafe() }}&view=true">{{ stream.name }}</a></td>
			<td>{{ stream.last_update_time.strftime("%Y-%m-%d %I:%M:%S %p") }}</td>
			<td>{{ stream.num_picture }}</td>
			<td>{{ my_view_count_list[loop.index0] }}</td>
			<td><input type="checkbox" name="{{ stream.name }}"</td>
		<tr>
		{% endfor%}
	</table>
	<input type="submit", value="Delete Checked">
</form>

<h2>Streams I subscribed to</h2>
<form action="/unsubscribe" method="post">
	<table>
		<tr>
			<th>Name</th><th>Last New Picture</th><th>Number of Pictures</th><th>Views</th><th>Unsubscribe</th>
		<tr>
		{% for subscription in subscribed %}	
		<tr>
			<td><a href="/stream?stream_id={{ subscription.stream.urlsafe() }}&view=true">{{ subscription.stream.get().name }}</a></td>
			<td>{{ subscription.stream.get().last_update_time.strftime("%Y-%m-%d %I:%M:%S %p")}}</td>
			<td>{{ subscription.stream.get().num_picture }}</td>
			<td>{{ subscription.stream.get().view_count }}</td>
			<td><input type="checkbox" name="{{ subscription.stream.get().name }}"</td>
		<tr>
		{% endfor %}
	</table>
	<input type="submit", value="Unsubscribe Checked Streams">
</form>
{% endblock %}
