{% extends "/templates/base.html" %}

{% block content %}
<form action="\search?" method="post">
    <div>
    	<input type="text" name="search">
    	<input type="submit" value="Search">
    </div>
</form>
{% if result %}
<div>
    <p>
	{{ result | length }} results for search, 
	click on an image to view stream
	</p>
    {% for stream in result %}   
    	<a href="/stream?stream_id={{ stream.key.urlsafe() }}"><img src="{{ stream.cover_url }}" width="160" height="160"></img></a>
    {% endfor %}
</div>
{% endif %}
{% endblock %}