{% extends "/templates/base.html" %}

{% block content %}
<h2>Top {{ streams | length }} Trending Streams</h2>
{% for stream in streams %}
    <div>
        <a href="/stream?stream_id={{ stream.key.urlsafe() }}&view=true"><img src="{{ stream.cover_url }}" width="160" height="160"></img></a>
    	<p>{{ stream.view_count }} views in past hour</p>
    </div>
{% endfor %}
<form action="/trending?" method="post">
<p>Email trending report</p>
<div>
	<input type="radio" name="email_frequency" id="noreports" value="0" {% if user_option.option == 0 %} checked {% endif %}/>
	<label for="noreports">No reports</label>
</div>

<div>
	<input type="radio" name="email_frequency" id="every5min" value="5" {% if user_option.option == 5 %} checked {% endif %}/>
	<label for="every5min">Every 5 minutes</label>
</div>

<div>
	<input type="radio" name="email_frequency" id="everyhour" value="60" {% if user_option.option == 60 %} checked {% endif %}/>
	<label for="everyhour">Every 1 hour</label>
</div>

<div>
	<input type="radio" name="email_frequency" id="everyday" value="1440" {% if user_option.option == 1440 %} checked {% endif %}/>
	<label for="everyday">Every day</label>
</div>
<input type="submit" value="Update Rate">
</form>
{% endblock %}
