{% extends "/templates/base.html" %}

{% block content %}
<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% if search == 'on' %}
                Search
            {% else %}
                View All Streams
            {% endif %}
        </div>

        <div class="panel-body">
            <div>
                {% if search == 'on' and no_keyword == 'on' %}
                <div>
                    Please enter a keyword.
                </div>
                {% elif search == 'on'%}

                <div>{{ streams | length }} results found.</div>

                <ul class="nav navbar-nav">
                    {% for stream in streams %}
                    <li><a href="/stream?stream_id={{ stream.key.urlsafe() }}&view=true"><img src="{{ stream.cover_url }}" width="200" height="200" class="rounded"></img></a>
                    <div style="text-align: center;"> {{ stream.name }} </div></li>
                    {% endfor %}
                </ul>

                {% elif not search == 'on' %}
                <ul class="nav navbar-nav">
                    {% for stream in streams %}
                    <li><a href="/stream?stream_id={{ stream.key.urlsafe() }}&view=true"><img src="{{ stream.cover_url }}" width="200" height="200" class="rounded"></img></a>
                    <div style="text-align: center;"> {{ stream.name }} </div></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>





{% endblock %}
